body{
    background-color: black;
}
.contayner{
width: 100%;
height: 1066;
top: 1242px;

}
.xsw{
width: 1584;
height: 450;
left: -158.39px;

}
.xsww{
width: 517.328125;
height: 450;

}
.xss{
width: 517.328125;
height: 450;
left: 533.33px;

}
.xssw{
width: 517.328125;
height: 450;
left: 1066.66px;

}
.xswq{
width: 1584;
height: 450;
top: 466px;
left: -0.01px;

}
.xswwq{
width: 517.328125;
height: 450;

}
.xssq{
width: 517.328125;
height: 450;
left: 533.33px;

}
.xsswq{
width: 517.328125;
height: 450;
left: 1066.66px;

}


.contayner1{
width: 1200;
height: 2823;
top: 160px;


}
.h11{
    width: 543;
    height: 64;
    top: 15px;
    left: 329px;
    
    
}
.gap{
width: 1200;
height: 2823;
top: 160px;
left: 120px;
background-color: black;
}
.gaj{
width: 392;
height: 275;
top: 36px;
left: 10px;
justify-content: left;
}
.gah{
width: 392;
height: 275;
top: 36px;
left: 422px;
justify-content: center;
}
.gajh{
    width: 392;
    height: 275;
    top: 36px;
    left: 834px;
    justify-content: right;

}
.rasm{
    width: 50;
    height: 70;
    top: 37px;
    left: 17px;
    

}
.conn{
    width: 258;
    height: 32;
    top: 122px;
    left: 17px;
    

}
.Lorem{
    width: 305;
    height: 52;
    top: 165px;
    left: 17px;
    

}
.rasmm{
    width: 50;
height: 70;
top: 37px;
left: 17px;

}
.cannm{
    width: 322;
height: 32;
top: 122px;
left: 17px;

}
.Loremm{
    width: 305;
    height: 26;
    top: 162px;
    left: 17px;
}    
.mrasmm{
    width: 50;
    height: 70;
    top: 37px;
    left: 17px;
    

}
.cannom{
    width: 284;
    height: 32;
    top: 122px;
    left: 17px;
    

}
.Loremmq{
    width: 305;
    height: 52;
    top: 165px;
    left: 17px;
    

}