.contayner{
display: flex;
flex-direction: column;
}
.contayner1{
    display: flex;   
    flex-direction: row-reverse;
}
.contayner2{
    display: flex;  
    flex-direction:column-reverse ;
}
.contayner4{
    display: flex;
    flex-direction: row;
    gap: 15px;

}
.box{
    width: 300px;
    height: 300px;
    background-color: aqua;
    text-align: center;
    line-height: 50px;
    font-style: 50px;
}

.contayner5{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;

}
.box1{
    width: 300px;
    height: 300px;
    background-color: rgb(164, 97, 30);
    text-align: center;
    line-height: 50px;
    font-style: 50px;
}


.contayner6{
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;

}
.box2{
    width: 300px;
    height: 300px;
    background-color: rgb(7, 255, 94);
    text-align: center;
    line-height: 50px;
    font-style: 50px;
}
.contayner7{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.box3{
    width: 300px;
    height: 300px;
    background-color: rgb(182, 209, 27);
    text-align: center;
    line-height: 50px;
    font-style: 50px;
}