*{
margin: 20px;
    padding: 20px;
}
p.dotted {
    border-style: dotted;
}
p.dashed {
    border-style: dashed;
}
p.dashed {
    border-style: solid;
}
p.double {
    border-style: double;
}
p.groove {
    border-width: 10px;
    border-style: groove;
}
p.ridge {
    border-style: ridge;
}
p.inset {
    border-style: inset;
}
p.outset {
    border-style: outset;
}
p.none {
    border-style: none;
}
p.hidden {
    border-style: hidden;
}
p.mix {
    border-style: dotted dashed solid double;
}



p.one {
    border-style: solid;
    border-width: 5px;
}

p.two {
    border-style: solid;
    border-width: medium;
}

p.three {
    border-style: dotted;
    border-width: 2px;
}

p.four {
    border-style: dotted;
    border-width: thick;
}
p.five {
    border-style: double;
    border-width: 15px;
    color: rgb(91, 22, 210);    
}

p.six {
    border-style: double dotted outset dashed;
    border-width: thick;
    border-color: brown rgb(208, 106, 16) rgb(0, 0, 248) rgb(226, 43, 208);
    color: rgb(25, 200, 60);
    border-width: 15px  18px  16px  20px;


    border-top-style: ;
    border-right-style: ;
    border-bottom-style: ;
    border-left-style: ;
}