@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{

    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contayner1{
    background: linear-gradient(rgba(0, 0, 0.1, 0.7), rgba(0, 0, 0, 0.7)),
    url(./Rectangle\ \(3\).png) no-repeat center / cover;
    width: 1440px;
    height: 1157px;
}
.Strategy{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -2.5%;
    margin-left: 150px;
    color: #fff;

     
}
.contayner2{
    width: 1334px;
    height: 920px;
    top: 193px;
    margin-left: 199px;
    

}

.o1{
    display: flex;
    gap: 10px;
    width: 758px;
    height: 138px;
    top: 193px;
margin-left: -30px;

}
.aq{
    font-family: Poppins;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
color: #038a4b;


}
.p1{
    width: 529px;
height: 125px;
top: 206px;
margin-left: 15px;


}
.st{
width: 136px;
height: 48px;
top: 196px;
left: 247.06px;
font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: white;

}



.o2{
    display: flex;
    gap: 10px;
    width: 762px;
height: 109px;
top: 358px;
margin-left: 400px;

}
.aq1{
    width: 45px;
height: 54px;
top: 193px;
left: 199px;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
}
.p11{
    width: 529px;
    height: 100px;
top: 367px;
margin-left: 15px;
}
.st1{
width: 110px;
height: 48px;
top: 196px;
left: 247.06px;
font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: white;
}


.o3{
    display: flex;
    gap: 10px;
    width: 757px;
height: 137px;
top: 494px;
margin-left: -30px;

}

.aq3{
    width: 46px;
height: 54px;
top: 193px;
left: 199px;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
}
.p13{
    width: 529px;
height: 125px;

margin-left: 15px;
top: 503px;
}
.st3{
width: 151px;
height: 48px;
top: 196px;
left: 247.06px;
font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: white;
}
.o4{
    display: flex;
    gap: 10px;
    width: 762px;
height: 109px;
top: 658px;
margin-left: 400px;

}
.aq4{
    width: 45px;
height: 54px;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
}
.p14{
    width: 529px;
    height: 100px;
    top: 665px;
margin-left: 25px;
}
.st4{
width: 110px;
height: 48px;

font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: white;


}


.o5{
    display: flex;
    gap: 10px;
    width: 758px;
height: 183px;
top: 794px;
margin-left: -30px;


}
.aq5{
    width: 46px;
height: 54px;
top: 797px;
left: 199px;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
}
.p15{
    width: 529px;
height: 183px;
top: 206px;
margin-left: 15px;
top: 794px;

}
.st5{
width: 151px;
height: 48px;
top: 800px;
left: 255.07px;
font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: white;
}






.o6{
    display: flex;
    width: 765px;
height: 109px;
top: 1004px;
margin-left: 400px;
}


.aq6{
    width: 45px;
height: 54px;
top: 1004px;
left: 768px;
font-weight: 700;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;


}
.p16{
    width: 529px;
    height: 100px;
    top: 665px;
margin-left: 80px;
}
.st6{
width: 110px;
height: 48px;
top: 1007px;
left: 824.08px;
font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: white;


}




.contaynner2{
width: 1440px;

background-color: white;

}
.contayner12{
    width: 1100.000244140625;
    height: 762;
    margin-left: -135px;
    display: flex;
    justify-content: center;
    }
.cards1{
    width: 280px;
    text-align: center;
    width: 329.795166015625;
height: 655;
margin-left: 200px;

}
.cards2{
    text-align: center;
    width: 280px;;
height: 655;
margin-left: 30px;
}
.cards3{
    text-align: center;
    width: 280px;
height: 655;
margin-left: 30px;
}
.img{
width: 280px;
height: 250px;
border-radius: 6px;

}
.button{
    text-align: center;
    background-color: #17d17a;
    width: 150px;
height: 30px;
border-radius: 2px ;
border: 2px solid rgb(30, 211, 75);
}
.button1{
    text-align: center;
    background-color: #17d17a;
    border: 2px solid rgb(30, 211, 75);
    border-radius: 4px ;
    width: 220px;
    height: 80px;
    margin-left:40% ;
}

.contayner112{
    width: 1728;
    height: 1063;
    background-color: rgb(114, 111, 111);
}
.asd{
    width: 504;
    height: 160;
    top: 5088px;
    margin-left: 150px;
    color: #000000;
    font-size: 80px;
}
.asx{

width: 428;
height: 128;
margin-left:150px;
font-size: 21px;
}
.contayner01{
    display: flex;
width: 1100;
height: 575.3845825195312;
top: 5468px;
margin-left: 220px;
gap: 20px;
}
.cards12{
width: 285px;
height: 442;
border-radius: 10px;
background-color: aliceblue;

}
.cards13{
    width: 285px;
    height: 442;
    border-radius: 10px;
    background-color: aliceblue;

}
.cards14{
    width: 285px;
    height: 442;
    border-radius: 10px;
    background-color: aliceblue;
}
.pl{
width: 248;
height: 124;
top: 42px;
margin-left: 42px;
font-size: 40px;
color: #000000;
}
.we{
width: 260;
height: 153;
top: 181px;
margin-left: 44px;
font-size: 18px;
color: #000000;
}
.pl1{
width: 248;
height: 124;
top: 42px;
margin-left: 35px;
font-size: 40px;
color: #000000;

}
.we1{
    width: 256;
height: 178;
top: 180.67px;
margin-left: 35px;
color: #000000;
font-size: 18px;

}
.pl2{
width: 269;
height: 124;
top: 42px;
margin-left: 35px;
color: #000000;
font-size: 40px;
}
.we2{
width: 259;
height: 157;
top: 181px;
margin-left: 35px;
color: #000000;
font-size: 18px;
}
.q1{
    width: 150px;
    height: 85;
    top: 4872px;
    margin-left:300px;
    border-radius: 10px;
    padding-left: 46px;
    gap: 10px;
    background-color: #17d17a;
    text-align: center;
}
