@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

}
.ul {
    list-style: none;
}
.navbar {
    padding: 28px;
    background: #232536;

}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}
.navbar-container {
    display: flex;
    align-items: center;
    gap: 460px;
}
.navbar-left {

}
.navbar-title {
    font-size: 26px;
    font-weight: 700;
    font-family: Montserrat;
    color: #fff;

}
.navbar-right {

}
.navbar-list {
    display: flex;
    align-items: center;
    gap: 32px;
}
.navbar-item {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;

}
.navbar-item-one {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;

}
.navbar-item-two {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFD3AF;

}
.haeder {
    padding-top: 96px;
    padding-bottom: 96px;
}
.header-center {
    
}
.container {

}
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-container {
   
}
.header-title {
    margin-top: 48px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: #232536;
    margin-bottom: 52px;
}
.header-text {
    width: 505px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #232536;
    margin-bottom: 32px;
}
.logos {
    display: flex;
    align-items: center;
    gap: 26px;
}
.header-center img{

}

.main {
}
.container {
}
.main-container {
    
}
.mish {
    padding-top: 126px;
    padding-bottom: 204px;
}
.mish-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mish-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 110px;
}
.mish-card {
    width: 354px;
    height: 243px;
    top: 1047px;
    left: 238px;
    gap: 0px;
    opacity: 0px ;
    border: none;
    background: none;
}
.mish-title {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #232536;
    margin-bottom: 10px;
}
.mish-text {
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #232536;
margin-bottom: 3px;

}
.mish-text-two {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #232536;
    margin-bottom: 52px;
}
.mish-btn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #5D5FEF;
    border: none;
    background: none;
    padding: 3px;
}
.ul {
    list-style: none;
}
.navbar {
    padding: 28px;
    background: #232536;
}