@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.header {
    padding: 20px;
}
.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container img{
    max-width: 50%;
}
.header-btn {

    padding: 10px 30px;
    border: none;
    background:rgb(149, 71, 194);
    border-radius: 35px;
    font-size: 16px;
    font-weight: 600;
    color: #fff ;

}
.header-input {
    width: 500px;
    border: rgb(149, 71, 194) 2px;
    border-radius: 20px;
    padding: 20px 20px;
    align-items: center;
    text-align: left;
}
.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-item {
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat;
    color: rgb(149, 71, 194);
    
}
.main {
}
.container {
}
.main-container {
    
}
.uzum {
    padding: 80px;
}
.uzum-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.uzum-left {
}
.uzum-right {
}
.v {
}
.uzum-title {
    font-size: 40px;
    font-weight: 600;
    font-family: Montserrat;
    margin-bottom: 5px;
    color: rgb(149, 71, 194);
    margin-top: 0px;
}
.uzum-text {
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    opacity: 0.8;
    margin-bottom: 25px;
}
.b {
}
.b-text {
    width: 500px;
    font-size: 26px;
    font-weight: 500;
    color: #000;
    opacity: 0.8;
    margin-bottom: 25px;
}
.a-text {
    width: 500px;
    font-size: 26px;
    font-weight: 500;
    color: #000;
    opacity: 0.8;
    margin-bottom: 25px;
}
.footer {
    padding: 50px;
    background: rgba(54, 56, 45, 0.486);
    width: 100%;
}
.container {
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left {
    display: flex;
    align-items: center;
    gap: 60px;
}
.footer-list {
    
}
.footer-items {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    font-family: Montserrat;
}
.footer-item {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    font-family: Montserrat;
}
.footer-right {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-text {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    font-family: Montserrat;
    margin-bottom: 20px;
}
.footer-btn-app {

}
.footer-btn-google {
}
.bnts {
    display: flex;
    align-items: center;
    gap: 20px;
}