:root {
    --Xpos:50vw;
    --Ypos:100vw;

}
/* flashlight overlay */
.flashlight {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

}
.flashlight::befoere {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(
        circle 50vw at var(--Xpos) var(--Ypos),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
    );
}


@supports(animation-timeline: scroll()){
    .skull {
        animation: skull linear both;
        animation-timeline:view(block);
        animation-range:exit 0% exit 100%; 
        view-timeline-inset: 20%;

    }
}
@keyframes skull {
    0% {
        background-size:96% ;
        background-position:bottom center;
    }
    100% {
        background-size:100% ;
        background-position:top  center;
    }

}
.skull{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    aspect-ratio: 2 / 3;
    max-height: 1200px;
    max-width: 800px;
    background-image: url(https://assets.codepen.io/1695918/IMG_1197.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}
*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    color: black;
    background-color: black;
    height: 300vh;
    position: relative;
}