*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.ul .OTVET{
    display: flex;
    align-items: center;
    gap: 32px;
}
.li-item {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;

}
.li-item-one {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;

}
.li-item-two {

    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFD3AF;

}






