.navbar {
    background-color: rgb(40, 42, 54);
    padding: 10px;
  }
  
  .navbar center a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
  }
  
  .first button {
    background-color: rgb(16, 170, 109);
    color: white;
    height: 30px;
  }
  
  .second {
      background-color: rgb(217, 238, 225);
      padding-top: 3px;
  }
  
  .second p {
    font-size: 10px;
    margin-left: 20px;
  }
  
  .second button{
      font-size: 10px;
      padding: 5px;
      color: white;
  } 
  
  .second #btn1 {
      background-color: rgb(16, 170, 109);
  }
  
  .second #btn2 {
      background-color: black;
  }
  
  .third p{
   font-size: 12px;
  }
  
  .fourth p{
      font-size: 10px;
  }
  
  .fourth button{
      background-color: rgb(16, 170, 109);
      color: white;
      padding: 5px;
  }