@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
body{
    overflow-x: hidden;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    background-image: url('diego-gutierrez-NRn5rrBnH8w-unsplash\ 1.png');
    background-repeat: no-repeat;
    width: 100%;
    width: 1921px;
height: 1080px;
top: 1080px;
left: 1921px;
}
a{
    color: white;
    margin-left: 55px;
}
.articles{
    display: flex;
    padding: 50px 20px 45px 20px;
    gap: 10px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
}
.h1{
    width: 627.33px;
    height: 260px;
    margin-top: 100px;
    margin-left: 148px;    
font-family: Roboto;
font-size: 120px;
font-weight: 900;
line-height: 130px;
text-align: left;
}
#start{
    margin-top: -120px;
    color: white;
    font-size: 20px;
    font-family: DM Sans;
    background: #DD2242;
    width: 271px;
height: 82px;
margin-left: 148px;
padding: 20px;
gap: 10px;
border-radius: 211px;
border: #DD2242 1px solid;
}
.title{
    display: flex;
    width: 1225.64px;
height: 210px;
top: 870px;
background-color: rgba(0, 0, 0, 0.600);
border: 1px solid rgba(0, 0, 0, 0.600);
transform: rotate(-180 deg);
width: 1225.64px;
height: 210px;
margin-left: 275px;
margin-top: -123px;
}
.lorem{
    margin-left: 180px;
    width: 210.11px;
height: 120px;
}
.section2{
    background-image: url('Rectangle\ 13.png');
    background-repeat: no-repeat;
    width: 1901px;
    width: 100%;
    height: 771px;
    padding: 200px 290px 0 290px;
    display:flex;
}
.b{
background: rgba(1, 10, 32, 1);
}
#walkways{
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
line-height: 50px;
text-align: left;
}
#loreem{
 color: rgb(215, 215, 215);
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.01em;
text-align: left;
}
.button{
font-family: DM Sans;
font-size: 18px;
line-height: 27px;
text-align: center;
color: rgba(255, 255, 255, 1);
width: 179.81px;
height:59px;
padding: 16px 24px 16px 24px;
gap: 24px;
border-radius: 32px;
background-color: #DD2242;
border: #DD2242 1px solid;
}
.section3{
        background-image: url('Rectangle\ 11.png');
        background-repeat: no-repeat;
        width: 1901px;
        width: 100%;
        height: 771px;
        padding:0 280px;
        display:flex; 
        margin-top: -200px;
}
.section4{
    background-image: url('ifan-bima-B04Xpnu5JQ4-unsplash\ 1.png');
    margin-top: -35px;
    width: 1920px;
height: 2207px;
top: 2704px;
background-repeat: no-repeat;
}
#h2{
    padding-top: 120px;
    font-family: DM Sans;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-align: center;
color: rgba(1, 10, 32, 1);
}
.qp{
    display: flex;
    margin-left: 50px;
}
.a{
    margin-right: 20px;
}
.section5{
    width: 1922px;
height: 794px;
margin-top: 860px;
background: rgba(2, 12, 33, 0.836);
}
#p{
    padding-top: 180px;
    font-family: DM Sans;
font-size: 60px;
font-weight: 700;
line-height: 90px;
text-align: center;
color: white;
}
#w{
    margin-top: -30px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: center; 
    color: rgba(224, 224, 224, 1);
}
#i{
    font-family: DM Sans;
font-size: 42.14px;
font-weight: 700;
line-height: 49.16px;
letter-spacing: 0.38626033067703247px;
text-align: center;
color: #DD2242;
}
.g{
    text-align: center;
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.5px;
text-align: center;
color: rgba(224, 224, 224, 1);
margin-right: 170px;
margin-top: -17px;
}
.l{
    display: flex;
}
.o{
    background-image: url('4.\ Map.png');
    background-repeat: no-repeat;
    width: 1935px;
height: 822px;
}

.section6{
    background-image: url('hugo-matilla-EFuCATqfblI-unsplash\ 1.png');
    background-repeat: no-repeat;
    width: 1930px;
height: 1476px;
}
.f{
    background: rgba(1, 10, 32, 1);
}
#live{
font-family: DM Sans;
font-size: 42px;
font-weight: 700;
line-height: 50px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
#h3{
font-family: DM Sans;
font-size: 60px;
font-weight: 700;
line-height: 90px;
text-align: center;
color: rgba(1, 10, 32, 1);
padding-top: 120px;
}
#lo{
font-family: DM Sans;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.01em;
text-align: center;
color: rgba(111, 119, 135, 1);
}
.fff{
    background: rgba(220, 232, 242, 1);
padding: 120px 180px;
display: flex;
}
#h4{
font-family: DM Sans;
font-size: 60px;
font-weight: 700;
line-height: 90px;
text-align: left;
color: rgb(1, 10, 32);;
}
.m{
font-family: DM Sans;
font-size: 26.41px;
font-weight: 700;
line-height: 41.08px;
text-align: left;
color: rgb(1, 10, 32);
}
.n{
    font-family: DM Sans;
font-size: 23.47px;
font-weight: 400;
line-height: 38.15px;
text-align: left;
color: rgba(21, 20, 57, 0.4);

}

.k{
    box-sizing: border-box;
    padding: 50px 0px 0px 50px;
    width: 1920px;
height: 136px;
display: flex;
gap: 30px;
background-color: rgb(21, 20, 57);
font-family: DM Sans;
font-size: 18px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.5px;
text-align: left;
}
button:hover{
    color: #DD2242;
border: #DD2242 1px solid;
background-color: white;
transition: 1s;
}
a:hover{
    color: #DD2242;
    transition: 1s;
}
@media only screen and(max-width: 1420px){
    *{
        width: 100%;
    }
}