* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img{
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Section Free Start*/

#free {
  background-color: #b36050;
  padding: 10px;
  h1 {
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;
    color: #f1d3b9;
  }
}

/* Section Free End*/

/* header start */

header {
  background-color: #f6f4ec;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.header__left__list a {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #b4604d;
}

.header__center {
  margin-left: -250px;
}

.header__rigth__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: #b4604d;
  }
}

.header__rigth__list__second {
  img,
  span {
    display: inline-block;
  }
  a {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

/* header End */

/* hero section start */

#hero {
  background-color: #a9ae8d;
}

.background__img {
  width: 100%;
  height: 435px;
}

.hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 69px;
  padding-bottom: 51px;
  p,
  h1,
  button {
    text-align: center;
  }
  p {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: #f6f4ec;
  }
  h1 {
    font-family: Roboto;
    font-size: 33px;
    font-weight: 400;
    line-height: 64px;
    color: #f6f4ec;
  }

  button {
    background-color: #b45f4d;
    color: #ffffff;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 10px 20px;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 28.8px;
    border: none;
  }
}



#bottle {
  background-color: #f6f4ec;
  padding-top: 40px ;
  padding-bottom: 40px;
}
.bottle__title {
  width: 197px;
  height: 40px;
  top: -1px;
  left: 622px;
  gap: 0px;
  opacity: 0px;
  color: #B45F4D;
  margin-bottom: 64px; ;

}

.bottle__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img__box{
  margin-bottom: 35px;
  height: 510px;
  width: 340px;
}
.bootle__list__item__title{
 font-family: Roboto;
 font-size: 18px;
 font-weight: 400;
 line-height: 25.2px;
 text-align: left;
 color: #B45F4D;
 margin-bottom: 20px;
}

.bootle__list__item__text{
  font-family: Roboto ;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #B45F4D;
  
}
.icons__box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px
}
.icons__box a {
  display: inline-block;
width: 62px;
height: 10px;
}
